html{
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    box-sizing: border-box;
}

body{
    background-image: url(bilder/tempel_03.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size:fixed;
    background-attachment:scroll;
    background-color:#f0d1c9;
    margin-bottom: 5rem;
}

@font-face {
    font-family: 'ceasar';
    src: url(schrift/caesar-dressing.regular.ttf);
    font-size:medium;
    font-weight: 100;
}


@font-face {
    font-family: 'gelio';
    src: url(schrift/Gelio\ Pasteli.ttf);
    font-size:medium;
    font-weight: 100;
}

@font-face {
    font-family: 'gelio-fett';
    src: url(schrift/Gelio\ Fasolada.ttf);
    font-size:larger;
    font-weight: 100;
}

@font-face {
    font-family: 'romanica';
    src: url(schrift/Romanica.ttf);
    font-size:medium;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: currentColor;
}

h1{
    color: #fff;
    font-family: 'ceasar';
    font-size: 9rem;
}

h2{
    font-family: 'gelio-fett', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

h3{
    font-family: 'ceasar';
    text-align: center;
    color: #fff;
}

p{
    font-family:'romanica';
    font-weight: medium;
    font-size: 1,2rem;
    text-align: left;
    color: #ffffff;
    text-align: center;
}

ul{
    color: #fff;
}


.nav {
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 40px;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:center;
    justify-content: space-between;
    gap: 0,5em;
}

.link {
    color:#d2d7df;
    padding: 5px 10px 5px 10px;
    background-color: #4a4854;
    border-radius: 10px; 
    display: flex;
    flex-direction: column; 
}

.aktiver-link{
    color:#fff;
   box-shadow: 0px 8px #4a4854;
   background-color: #7f7880;
}

.in_text_link{
    color:#d2d7df;
    background-color: #4a4854;
    padding: 0.2rem;
    margin: 0.3rem;
    border-radius: 5px;
}


.unternav li{
    text-decoration: none;
    color: currentColor;
    list-style-type:lower-greek;
    text-align: start;
    list-style-position: inside;
    padding: 0.5rem;
    border-collapse: collapse;
}

.unternav ul{
    color: rgb(255, 255, 255);
    display: block;
    background-color: #0D5EAF;
    margin-inline: 10rem;
    
    justify-content: center;
    border: #d2d7df 2px solid;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.unternav li:hover{
    transition: all 0.5s;
    background-color:#073c80;
}

.unternav img{
    display: none;
}

.unternav :active + img {
    display: block;
    transition: all 0.5s;
    background-color:#073c80;
}

.ueberschrift{
    color: #fff;
    font-size: 3rem;
    font-family: 'ceasar';
    margin-top: 2rem;
}


.trainer {
    padding-left: 2em;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 3em;
    margin-bottom: 2em;
}

.container {
    width: min-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    position: relative;
    border: 2px solid #d2d7df;
    overflow: hidden;
    background-color: #fff;
    flex-grow: 0;
}

.namen {
    gap: 60px;
    margin-top: 30px;
    margin-bottom: 40px;
    position: absolute;
    opacity: 0;
    color: #0D5EAF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container:hover .namen {
    opacity: 1;
    transition: all 1s;
}

.container:hover{
    border: 2px solid #ffffff;
    transition: all 1s;
}

.container:hover img{
    color: hsla(240, 80%, 80%, 0.3);
}

.poseidon{
    color: #0d4fa5;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 80px;
}


.menu{
    display: flex;
    justify-content: space-around;
    margin: 3rem;
}

.menu td{
    color: #d2d7df;
    text-align:left;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #0D5EAF;
    margin: 10px;
    border: hsla(240, 80%, 80%, 0) 2px double;
}

.menu tr{
    gap: 10px;
    color: brown;
}

.menu th{
    color:#fff;
    text-align: left;
    border-bottom: 2px solid ;
    font-family: 'ceasar';
    font-size: larger;
    padding: 2px;
    padding-left: 1rem;
}

.menu td:hover {
    transition: all 0.5s;
    background-color:#073c80;
    overflow: hidden;
    color:#fff;
}


.map_box {
    color:#ffffff;
    display: flex;
    justify-content:space-between;
    gap: 1rem;
   margin-top: 2rem;
}

.map {
    width: 65%;
    border:  #d2d7df 2px solid;
    background-color: #bed8f1;
}

.team p{
    text-align: left;
    max-width: 500px;
    font-family: 'romanica';
    padding: 1rem;
}

.map_text {
    width: 35%;
    border:  #d2d7df 2px solid;
    background-color: #0D5EAF;
    padding: 2px;
    padding-left: 10px;
}

.map_text p{
    color: rgb(255, 255, 255);
    text-align: left;
    flex-grow: 0;
    max-width: 230px;
    font-family: 'romanica';
}


.index{
    background-color:#073c80;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.index p{
    min-width: 100%;
    color:#fff;
}

.datenschutz{
    max-width: 80%;
    margin-left: 80px;
    padding-inline: 20px;
}

.link_datenschutz{
    margin-top: 20rem;
}

.team{
    background-color: #0D5EAF;
}

.blau h3{
    color: #fff;
    margin-top: 3rem;
}

.blau p{
    color: #fff;
    margin-top: 10rem;
}

.philo {
    background-color: #5d88cd;
    padding: 0;
    margin: 0;
    height: 176px;
}

.platon {
    font-size: 2.3rem;
}


.zeitplan{
    margin: 100px auto;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-collapse: separate;
    border: 2px solid #d2d7df;
    background-color: #0D5EAF;
    overflow: hidden;
}

.zeitplan th {
    font-family: 'romanica';
    background-color: #073c80;
    color: #fff;
    height: 3rem;
    padding: 2px;
    padding-left: 10px;
    text-align: left;
    border-bottom: 2px solid #d2d7df;
}

.zeitplan td{
    font-family: 'romanica';
    color:#d2d7df;
    padding: 5px 5px 5px 10px;
    text-align: left;
    height: 50px;
    vertical-align: middle;
}

.zeitplan tr:hover {
    transition: all 0.5s;
    background-color:#073c80;
}

.zeitplan td:hover {
    color:#fff;
}
